.media-scroller123 {

    --spacer: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    gap: var(--size-3);
    overflow-x: auto;
    overscroll-behavior-inline: contain;

}

.media-elements1 {

    border: 1px solid black;

}

.container :hover img {
    transform: scale(1, 3);

}

.media-elements1:hover img {

    transform: scale(1.2);
}

.media-elements1 img {
    transition: transform 2s;
}

.img1 {
    margin-left: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
    list-style-type: none;
}


#marquee {
    padding: 50px 0px;
    width: 100%;
}

#marquee .container {
    overflow: hidden;
    width: 100%;
}

#marquee .pic-container {
    display: flex;
    animation: marquee 15s infinite linear;
}

#marquee .pic-container .pic {
    flex-basis: 20%;
    flex-shrink: 0;
}

#marquee img {
    width: 100%;
    object-fit: cover;
    border: 1px solid rgba(238, 231, 231, 0.9);
}

@media (max-width: 1024px) {
    #marquee .pic-container .pic {
        flex-basis: 25%;
    }
}

@media (max-width: 768px) {
    #marquee .pic-container .pic {
        flex-basis: 33.33%;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 1024px) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-125%);
        }
    }
}

@media (max-width: 768px) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-186.65%);
        }
    }
}